@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/*--------------------------------------whole documen-----------------------------*/
:root {
  --color-bor1: #f2f2f2;
  --color-let1: #eb5757;
}
/*--------------------------------------Loader-----------------------------*/
.waiter-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.waiter {
  background-color: white;
  border-radius: 25px;
  width: 10em;
  height: 3em;
  display: flex;
  align-items: center;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  /* 25% {
    transform: translateX(60px);
  } */
  50% {
    transform: translateX(120px);
  }
  /* 75% {
    transform: translateX(60px);
  } */
  100% {
    transform: translateX(0px);
  }
}
.ball {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: var(--color-let1);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/*-----------------------------------Display Mobile-----------------------------*/

.display-search {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: "Mulish", sans-serif;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in;
  justify-content: center;
}
.move {
  transform: translateY(0%);
  transition: transform 0.5s ease;
}
.search-sections {
  display: flex;
  flex: 0 0 80%;
}
.search-sections:first-child {
  justify-content: space-between;
  padding: 1em 1em;
  font-weight: 700;
}
.search-sections:nth-child(2) {
  flex-direction: column;
  margin: 0 1em;
  border: 1px solid var(--color-bor1);
  border-radius: 25px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.search-sections:nth-child(2) div {
  padding: 0.5em 1em;
}
.search-sections:nth-child(2) div:first-child {
  border-bottom: 1px solid var(--color-bor1);
}
.search-sections:nth-child(2) div p:first-child {
  font-weight: 800;
}
.search-sections:nth-child(3) {
  flex-direction: column;
  /* padding: 2em; */
  /* height: 80%; */
}
.city-location {
  padding: 1em 0;
  cursor: pointer;
}
.search-sections:nth-child(4) {
  margin-top: 4em;
}
.src-btn {
  margin: 0 auto;
  background-color: var(--color-let1);
  color: white;
  padding: 0.5em 2em;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.src-btn p {
  margin-left: 0.5em;
}
.count {
  padding: 1em;
  font-size: 1.2em;
  text-align: center;
}
.counter-btn {
  font-size: 1.5em;
  padding: 1em;
}

/*--------------------------------------Header-----------------------------*/
/*header*/
header {
  display: flex;
  flex-wrap: wrap;
}
.header-name {
  width: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--color-let1);
  padding: 1em;
  display: flex;
}
.header-name p {
  margin-left: 0.5em;
}
.header-search {
  width: 100%;
  padding: 1em;
}
/*inputs*/
.inputs {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.inputs-in {
  width: 45%;
  /* cursor: pointer; */
}
.inputs-in-dis {
  margin: 0.5em 0;
  border: 1px solid white;
  background-color: white;
  outline: none;
}
.inputs-in:first-child {
  border: 1px solid var(--color-bor1);
  background-color: white;
  border-radius: 25px 0 0 25px;
  outline: none;
}
.inputs-in:nth-child(2) {
  /*background: gray;*/
  border: 1px solid var(--color-bor1);
  outline: none;
}
.inputs-ic {
  width: 10%;
  padding: 0.5em;
  text-align: center;
  border: 1px solid var(--color-bor1);
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color: var(--color-let1);
}
/*--------------------------------------Main-----------------------------*/
main {
  display: flex;
  flex-direction: column;
}
/*--------------------------------------Cards-----------------------------*/

.card-info {
  padding: 0 1.5em;
}
.card-info img {
  width: 100%;
  border-radius: 25px;
}
.card-info-desc {
  padding-top: 1em;
}
.host {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.host p {
  border: 1px solid #4f4f4f;
  border-radius: 25px;
  padding: 0.5em;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #828282;
}
.stars {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.stars p i {
  color: var(--color-let1);
}
.card-info-resume {
  padding: 1em 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
